---
import Layout from '../layouts/Layout.astro'
import ModuleTitle2 from '../components/ModuleTitle2.astro'
import { Image } from 'astro:assets'
import logo from '../../public/AboutLogo.627a361.png'
import Customers from '../components/Customers.astro'
import Culture from '../components/Culture.vue'
import Certificate from '../components/Certificate.vue'
---
<Layout title="上海疆通科技有限公司" active="2">
  <main>
    <div class="w-full pt-[64px]">
      <Image src={logo} alt="背景图片" class="w-full object-cover h-[145.57px] "/>
      <ModuleTitle2 chinese="关于我们" english="探索智慧生活，提升人类幸福" />
      <Culture client:visible />
      <Certificate client:visible />
      <Customers />
    </div>
  </main>
</Layout>