---
import Layout from '../layouts/Layout.astro'
import { Image } from 'astro:assets'
import logo from '../../public/AboutLogo.627a361.png'
import ModuleTitle2 from '../components/ModuleTitle2.astro'
import CaseTabs from '../components/CaseTabs.vue'
---

<Layout title="上海疆通科技有限公司" active="4">
  <main>
    <div class="w-full pt-[64px]">
      <Image src={logo} alt="背景图片" class="w-full object-cover h-[145.57px]"/>
      <ModuleTitle2 chinese="成功案例" english="创新科技成功案例，提升生活质量与工作效率" />
      <CaseTabs client:visible />
    </div>
  </main>
</Layout>

<style></style>
