---
import Layout from '../layouts/Layout.astro'
import { Image } from 'astro:assets'
import bg from '../../public/indexBg.png'
import ModuleTitle from '../components/ModuleTitle.astro'
import Technology from '../components/Technology.astro'
import Cores from '../components/Cores.astro'
import Services from '../components/Services.astro'
import News from '../components/News.vue'
---
<Layout title="上海疆通科技有限公司" active="1">
  <main>
    <!-- <Image src={bg} alt="背景图片" class="scale-150 py-[28px] px-[12px] md:my-[28px] md:px-[10px]"/> -->
    <Image src={bg} alt="背景图片" class="pt-[64px]"/>
    <div class="w-full">
      <div
        class="w-full flex items-center flex-col"
      >
        <ModuleTitle chinese="走进疆通" english="Walk into Jiangtong" />
        <img
          src="/public/index-jungt-dt.gif"
          width="100%"
          id="video"
          class="mb-8 md:mb-10"
          alt="动图"
        />
        <div >
          <p
            style="text-indent: 2em;"
            class="text-[#333] font-[300] px-[6%] leading-[25px] md:text-2xl md:leading-10"
          >
            上海疆通科技有限公司，作为一家高新技术企业，持有电子与智能化工程专业承包二级资质，也是华东师范大学毕业生实习基地，超过一半以上员工具备人工智能专业资格证书。疆通科技专注于数字化场景落地服务，希望通过 AI 技术革新传统管理模式，实现由人工管理向智能管理的跨越。
          </p>
          <p
            style="text-indent: 2em;"
            class="text-[#333] font-[300] px-[6%] leading-[25px] md:text-2xl md:leading-10 md:mb-8"
          >
            疆通的核心策略在于融合物联传感技术（OT）、先进的算法模型与创新的 XR（扩展现实）图文展示手段，成功构建 IT/OT/XR 一体化解决方案。这一方案旨在消除信息孤岛，促进不同技术层面的高效协同，特别是在低代码平台上实现系统集成的无缝对接，降低复杂技术门槛，提升企业高效创新和实现数字化场景落地。
          </p>
          <div class="my-3 h-[88px] flex justify-between px-[6%] md:mb-8">
            <div class="text-[28px] text-[#294dce] font-[600] text-center mt-2 ml-2 md:text-5xl">
              <span data-v-865b471a="">200</span>
              <div class="text-[14px] text-[#999] font-[400] md:text-2xl">城市覆盖</div>
            </div>
            <div  class="b-4 m-4 inline-block w-[1px] bg-[#ccc]">
            </div>
            <div class="text-[28px] text-[#294dce] font-[600] text-center mt-2 md:text-5xl">
              <span data-v-865b471a="">15</span>
              <div class="text-[14px] text-[#999] font-[400] md:text-2xl">自研产品</div>
            </div>
            <div role="separator" class="m-4 inline-block w-[1px] bg-[#ccc]">
            </div>
            <div class="text-[28px] text-[#294dce] font-[600] text-center mt-2 mr-4 md:text-5xl">
              <span data-v-865b471a="">30</span>
              <div class="text-[14px] text-[#999] font-[400] md:text-2xl">合作企业</div>
            </div>
          </div>
        </div>
      </div>
      <Technology />
      <Cores />
      <Services />
      <News client:idle />
    </div>
  </main>
</Layout>