---
import ServiceTab from '../components/ServiceTab.vue'
---

<div class="bg-[#F0F2F5] w-full pt-[1px]">
  <!-- <ModuleTitle chinese="产品服务" english="Product service" /> -->
  <div class="mt-10 mb-3 md:mt-20 md:mb-7">
    <div class="text-2xl text-[#333] font-[700] text-center md:text-4xl ">产品服务</div>
    <div class="text-base text-[#ccc] font-[700] text-center md:text-2xl">service</div>
  </div>
  <ServiceTab client:load />
</div>
