---
import 'tailwindcss/tailwind.css'
import { ViewTransitions } from 'astro:transitions'
import logo from '../../public/JT-logo.png'
import { Image } from 'astro:assets'
import Footer from '../components/Footer.vue'

interface Props {
  title: string
  active: string
}

const { title, active } = Astro.props
---
<script is:inline type="module">
  try {
      const urlhash = window.location.hash;
      if (!urlhash.match("fromapp")) {
          if (!navigator.userAgent.match(/(iPhone|iPod|Android|ios|iPad)/i)) {
              window.location.href = "jungt.com";
          }
      }
  } catch (err) {}
</script>

<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta
      data-n-head="1"
      data-hid="Company name"
      name="Company name"
      content="上海疆通科技有限公司"
    />
    <meta
      data-n-head="1"
      data-hid="Jiangtong"
      name="Jiangtong"
      content="疆通"
    />
    <meta
      data-n-head="1"
      data-hid="medical treatment"
      name="medical treatment"
      content="医疗"
    />
    <meta name="baidu-site-verification" content="codeva-PT3yV321fk" />
    <meta
      name="360-site-verification"
      content="0220b95b13c51f1a7660a15d6c94f3e0"
    />
    <meta name="msvalidate.01" content="BC3A30D71F43189937E2DB091806B5EF" />
    <meta
      name="google-site-verification"
      content="uJUqcqU50MLClkz-RLAd0tdNR3pqCNw46ZyjsO8UlB0"
    />
    <meta name="sogou_site_verification" content="NkJCTHtbGR" />
    <meta
      name="shenma-site-verification"
      content="98db2ba1debf9a2cf8f63cb4c78638cd_1690276336"
    />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta data-n-head="1" data-hid="glass" name="glass" content="AR眼镜" />
    <meta data-n-head="1" data-hid="EHS" name="EHS" content="EHS" />
    <meta data-n-head="1" name="format-detection" content="telephone=no" />
    <meta name="description" content="上海疆通科技有限公司" />
    <meta
      name="keywords"
      content="有限公司，上海疆通，疆通科技，数字孪生，仿真，元宇宙，AR眼镜，低代码，无代码，智能巡检，视觉巡检，视觉制造，远程指挥，工作流，工易魔方，Workflow，Workflow Canvas，数字化转型，精益制造，应急指挥，应急决策，中台，大数据，知识图谱，人脸识别，人工智能，智能家居，非接触，智能接待，智能迎宾，智慧养老，养老院，客流分析，管理平台，智慧安监，智慧监护，智慧看护，智能门锁，不活动感应，门磁，智能化，场景模式，监控，门禁，报警，广播，巡更，LED屏，大屏幕，可视对讲，无线覆盖，安防，互动多媒体，智能建筑，建筑智能化，安防，综合布线，无线通讯，通讯协议，IT/OT，VR，MR，5g，KNX，ZigBee，CAN，BUS，Lora，NB-Iot，蓝牙，WiFi，FOX433，红外，语音音箱，技防，无线。"
    />
    <meta
      name="seo"
      content="上海疆通、疆通科技、数字孪生、仿真、元宇宙、AR眼镜、低代码、无代码、智能巡检、视觉巡检、视觉制造、远程指挥、工作流、工易魔方、Workflow、Workflow Canvas、数字化转型、精益制造、应急指挥、应急决策、中台、大数据、知识图谱、人脸识别、人工智能、智能家居、非接触、智能接待、智能迎宾、智慧养老、养老院、客流分析、管理平台、智慧安监、智慧监护、智慧看护、智能门锁、不活动感应、门磁、智能化、场景模式、监控、门禁、报警、广播、巡更、LED屏、大屏幕、可视对讲、无线覆盖、安防、互动多媒体、智能建筑、建筑智能化、安防、综合布线、无线通讯、通讯协议、IT/OT、VR、MR、5g、KNX、ZigBee、CAN、BUS、Lora、NB-Iot、蓝牙、WiFi、FOX433、红外、语音音箱、技防、无线。"
    />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="robots" href="/robots.txt" />
    <link rel="preload" href="https://autoreport.site:8888" />
    <meta name="generator" content={Astro.generator} />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="overflow-x-hidden">
    <!-- navbar start -->
    <nav class="fixed right-0 left-0 z-[999] bg-[#095dc0] dark:bg-gray-800 dark:border-gray-700">
      <!-- 顶部导航栏部分 start -->
      <div x-data="{ expanded: false }">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
          <div class="flex items-center space-x-3 rtl:space-x-reverse">
            <Image src={logo} alt="logo" width="40" height="40" densities={[4]} />
            <span class="self-center text-2xl font-semibold whitespace-nowrap text-white dark:text-white mb-1.5">疆通科技</span>
          </div>
          <button @click="expanded  = !expanded" type="button" class="inline-flex items-center justify-center w-10 h-10 text-sm text-white rounded-lg hover:bg-gray-100 focus:outline-none focus:text-gray-500 focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600 md:mr-4 md:w-15 md:h-15" aria-expanded="false">
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
            </svg>
          </button>

          <!-- 菜单 start -->
          <div x-show="expanded" class="w-full" id="navbar-hamburger">
            <ul class="flex flex-col font-medium mt-4 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700 md:mt-6 md:px-4">
              <li>
                <a href="/" class={active === '1' ? 'text-[#294dce] hover:text-white' : 'text-gray-900 hover:text-white'}>
                  <div class="block pt-4 pb-2 px-3 text-[15px] text-gray-900 rounded  hover:bg-blue-700 hover:text-white md:hover:text-white md:bg-transparent md:p-0 dark:text-white md:dark:text-blue-500 md:text-2xl md:mt-4" aria-current="page">
                  首页
                  </div>
                </a>
              </li>
              <li>
                <a href="/about/" class={active === '2' ? 'text-[#294dce] hover:text-white' : 'text-gray-900 hover:text-white'}>
                  <div class="block py-2 px-3 text-[15px] rounded hover:bg-blue-700 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent md:text-2xl md:mt-4">
                    关于我们
                  </div>
                </a>
              </li>
              <li>
                <a href="/solution/" class={active === '3' ? 'text-[#294dce] hover:text-white' : 'text-gray-900 hover:text-white'}><a href="/solution/" class={active === '3' ? 'text-[#294dce] hover:text-white' : 'text-gray-900 hover:text-white'}>
                  <div class="block py-2 px-3 text-[15px] rounded hover:bg-blue-700 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent md:text-2xl md:mt-4">
                    解决方案
                  </div>
                </a>
              </li>
              <li>
                <a href="/case/" class={active === '4' ? 'text-[#294dce] hover:text-white' : 'text-gray-900 hover:text-white'}>
                  <div class="block pt-2 pb-4 px-3 text-[15px] rounded hover:bg-blue-700 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent md:text-2xl md:my-4">
                    成功案例
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <!-- 菜单 end -->
        </div>
      </div>
    </nav>
    <!-- navbar end -->

    <section class="bg-white">
      <slot />
    </section>
    <Footer client:load />
    <style is:global>
      html,
      body {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        color: rgba(0, 0, 0, 0.65);
        font-size: 14px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
          'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue',
          Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
          'Segoe UI Symbol';
        font-variant: tabular-nums;
        line-height: 1.5;
        background-color: #fff;
        font-feature-settings: 'tnum';
      }
      * {
        box-sizing: border-box;
      }
      :root {
        --navbar-height: 64px; /* 设置导航栏高度 */
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
  </body>
</html>
